openapi: 3.0.3
info:
  title: Envoyou SEC API
  version: 1.0.0
  description: >-
    Specialized API for SEC Climate Disclosure compliance. Provides auditable 
    greenhouse gas emissions calculation, EPA cross-validation, and SEC-ready 
    export capabilities for public companies.
  contact:
    name: Envoyou Support
    email: support@envoyou.com
    url: https://envoyou.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://api.envoyou.com
    description: Production
  - url: https://api-staging.envoyou.com
    description: Staging
  - url: http://localhost:8000
    description: Local Development
security:
  - BearerAuth: []
  - ApiKeyAuth: []
paths:
  # Health Check
  /health:
    get:
      summary: API health check
      tags: [Health]
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: object
                    properties:
                      status: { type: string, example: healthy }
                      timestamp: { type: string, format: date-time }
                      version: { type: string, example: "1.0.0" }
                      environment: { type: string, example: production }

  # Authentication Endpoints
  /auth/login:
    post:
      summary: User login
      tags: [Authentication]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  message: { type: string }
                  data:
                    type: object
                    properties:
                      access_token: { type: string }
                      refresh_token: { type: string }
                      token_type: { type: string, example: bearer }
                      expires_in: { type: integer }
                      user: { $ref: '#/components/schemas/User' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }

  /auth/register:
    post:
      summary: User registration
      tags: [Authentication]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, name, company]
              properties:
                email: { type: string, format: email }
                password: { type: string, minLength: 8 }
                name: { type: string }
                company: { type: string }
      responses:
        '200':
          description: Registration successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  message: { type: string }
                  data:
                    type: object
                    properties:
                      email_sent: { type: boolean }
                      verification_required: { type: boolean }
        '400': { $ref: '#/components/responses/ValidationError' }

  # Emissions Calculation Endpoints
  /v1/emissions/calculate:
    post:
      summary: Calculate Scope 1 & 2 emissions with audit trail
      tags: [Emissions]
      security: [{ ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [company]
              properties:
                company: { type: string }
                scope1:
                  type: object
                  properties:
                    fuel_type: { type: string, enum: [natural_gas, coal, oil, propane] }
                    amount: { type: number }
                    unit: { type: string, enum: [mmbtu, therms, gallons, tons] }
                scope2:
                  type: object
                  properties:
                    kwh: { type: number }
                    grid_region: { type: string, enum: [RFC, WECC, TRE, SERC, MRO, NPCC, FRCC, SPP, ASCC, HICC] }
      responses:
        '200':
          description: Emissions calculated successfully
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EmissionsCalculationResult' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }

  /v1/emissions/factors:
    get:
      summary: Get emission factors and sources
      tags: [Emissions]
      security: [{ ApiKeyAuth: [] }]
      parameters:
        - in: query
          name: fuel_type
          schema: { type: string }
        - in: query
          name: source
          schema: { type: string, enum: [EPA, EDGAR] }
      responses:
        '200':
          description: Emission factors retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/EmissionFactor' }

  /v1/emissions/units:
    get:
      summary: Get supported units for calculations
      tags: [Emissions]
      security: [{ ApiKeyAuth: [] }]
      responses:
        '200':
          description: Supported units
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: object
                    properties:
                      fuel_units: { type: array, items: { type: string } }
                      electricity_units: { type: array, items: { type: string } }
                      emission_units: { type: array, items: { type: string } }

  # EPA Validation Endpoints
  /v1/validation/epa:
    post:
      summary: Cross-validate emissions against EPA data
      tags: [Validation]
      security: [{ ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [company]
              properties:
                company: { type: string }
                scope1:
                  type: object
                  properties:
                    fuel_type: { type: string }
                    amount: { type: number }
                    unit: { type: string }
                scope2:
                  type: object
                  properties:
                    kwh: { type: number }
                    grid_region: { type: string }
      responses:
        '200':
          description: EPA validation completed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EPAValidationResult' }
        '400': { $ref: '#/components/responses/ValidationError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }

  # SEC Export Endpoints
  /v1/export/sec/cevs/{company}:
    get:
      summary: Export CEVS data for SEC filing
      tags: [SEC Export]
      security: [{ ApiKeyAuth: [] }]
      parameters:
        - in: path
          name: company
          required: true
          schema: { type: string }
      responses:
        '200':
          description: CEVS data exported
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SECExportResult' }
        '404': { $ref: '#/components/responses/NotFoundError' }

  /v1/export/sec/package:
    post:
      summary: Generate complete SEC filing package
      tags: [SEC Export]
      security: [{ ApiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [company]
              properties:
                company: { type: string }
                scope1:
                  type: object
                  properties:
                    fuel_type: { type: string }
                    amount: { type: number }
                    unit: { type: string }
                scope2:
                  type: object
                  properties:
                    kwh: { type: number }
                    grid_region: { type: string }
      responses:
        '200':
          description: SEC package generated
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SECPackageResult' }
        '400': { $ref: '#/components/responses/ValidationError' }

  # User Management Endpoints
  /user/profile:
    get:
      summary: Get user profile
      tags: [User Management]
      security: [{ BearerAuth: [] }]
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data: { $ref: '#/components/schemas/User' }

  /user/api-keys:
    get:
      summary: List user API keys
      tags: [User Management]
      security: [{ BearerAuth: [] }]
      responses:
        '200':
          description: API keys list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/APIKey' }
    post:
      summary: Create API key
      tags: [User Management]
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                permissions:
                  type: array
                  items: { type: string, enum: [emissions:calculate, validation:epa, export:sec] }
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data: { $ref: '#/components/schemas/APIKeyWithSecret' }

  /user/api-keys/{key_id}:
    delete:
      summary: Delete API key
      tags: [User Management]
      security: [{ BearerAuth: [] }]
      parameters:
        - in: path
          name: key_id
          required: true
          schema: { type: string }
      responses:
        '204':
          description: API key deleted

  # Admin Endpoints
  /v1/admin/mappings:
    post:
      summary: Create company-facility mapping
      tags: [Admin]
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [company_name, facilities]
              properties:
                company_name: { type: string }
                facilities:
                  type: array
                  items: { $ref: '#/components/schemas/FacilityMapping' }
      responses:
        '201':
          description: Mapping created
        '403': { $ref: '#/components/responses/ForbiddenError' }

  /v1/audit:
    get:
      summary: Get audit trail entries
      tags: [Admin]
      security: [{ BearerAuth: [] }]
      parameters:
        - in: query
          name: company
          schema: { type: string }
        - in: query
          name: start_date
          schema: { type: string, format: date }
        - in: query
          name: end_date
          schema: { type: string, format: date }
        - in: query
          name: limit
          schema: { type: integer, default: 50 }
      responses:
        '200':
          description: Audit trail entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: success }
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AuditEntry' }
                  total: { type: integer }
                  has_more: { type: boolean }
        '403': { $ref: '#/components/responses/ForbiddenError' }

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id: { type: string }
        email: { type: string, format: email }
        name: { type: string }
        company: { type: string }
        tier: { type: string, enum: [basic, premium, enterprise] }
        created_at: { type: string, format: date-time }

    APIKey:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        key_prefix: { type: string }
        tier: { type: string }
        permissions: { type: array, items: { type: string } }
        created_at: { type: string, format: date-time }
        last_used_at: { type: string, format: date-time, nullable: true }

    APIKeyWithSecret:
      allOf:
        - $ref: '#/components/schemas/APIKey'
        - type: object
          properties:
            api_key: { type: string }

    EmissionFactor:
      type: object
      properties:
        fuel_type: { type: string }
        emission_factor: { type: number }
        unit: { type: string }
        source: { type: string }
        last_updated: { type: string, format: date-time }

    EmissionsCalculationResult:
      type: object
      properties:
        status: { type: string, example: success }
        data:
          type: object
          properties:
            company: { type: string }
            scope1_emissions:
              type: object
              properties:
                co2_tons: { type: number }
                fuel_type: { type: string }
                amount: { type: number }
                unit: { type: string }
                emission_factor: { type: number }
                factor_source: { type: string }
            scope2_emissions:
              type: object
              properties:
                co2_tons: { type: number }
                kwh: { type: number }
                grid_region: { type: string }
                emission_factor: { type: number }
                factor_source: { type: string }
            total_emissions: { type: number }
            calculation_id: { type: string }
            timestamp: { type: string, format: date-time }

    EPAValidationResult:
      type: object
      properties:
        status: { type: string, example: success }
        data:
          type: object
          properties:
            company: { type: string }
            validation_result:
              type: object
              properties:
                status: { type: string }
                total_calculated: { type: number }
                epa_comparison:
                  type: object
                  properties:
                    facilities_found: { type: integer }
                    avg_emissions: { type: number }
                    deviation_percent: { type: number }
                    within_threshold: { type: boolean }
                recommendations: { type: array, items: { type: string } }
            validation_id: { type: string }
            timestamp: { type: string, format: date-time }

    SECExportResult:
      type: object
      properties:
        status: { type: string, example: success }
        data:
          type: object
          properties:
            company: { type: string }
            cevs_data:
              type: object
              properties:
                scope1_emissions: { type: number }
                scope2_emissions: { type: number }
                total_emissions: { type: number }
                calculation_date: { type: string, format: date }
                methodology: { type: string }
                verification_status: { type: string }
            sec_format:
              type: object
              properties:
                table_format: { type: string }
                export_date: { type: string, format: date-time }

    SECPackageResult:
      type: object
      properties:
        status: { type: string, example: success }
        data:
          type: object
          properties:
            package_id: { type: string }
            company: { type: string }
            files:
              type: array
              items:
                type: object
                properties:
                  filename: { type: string }
                  type: { type: string }
                  size_bytes: { type: integer }
            download_url: { type: string }
            expires_at: { type: string, format: date-time }

    FacilityMapping:
      type: object
      properties:
        name: { type: string }
        epa_facility_id: { type: string }
        address: { type: string }
        latitude: { type: number }
        longitude: { type: number }

    AuditEntry:
      type: object
      properties:
        id: { type: string }
        company: { type: string }
        calculation_id: { type: string }
        inputs: { type: object }
        factors_used: { type: object }
        timestamp: { type: string, format: date-time }
        user_id: { type: string }

    ErrorResponse:
      type: object
      properties:
        status: { type: string, example: error }
        error: { type: string }
        data: { type: object, nullable: true }

  responses:
    UnauthorizedError:
      description: Unauthorized
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

    ForbiddenError:
      description: Forbidden
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

    NotFoundError:
      description: Not Found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }

    ValidationError:
      description: Validation Error
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }